kind: ConfigMap
apiVersion: v1
metadata:
  name: worker-service
data:
  application.properties: |-
    logging.pattern.console="%clr(%d{yy-MM-dd E HH:mm:ss.SSS}){blue} %clr(%-5p) %clr(${PID}){faint} %clr(---){faint} %clr([%8.15t]){cyan} %clr(%-40.40logger{0}){blue} %clr(:){red} %clr(%m){faint}%n"
    spring.data.mongodb.host=lenneflow.ganemtore.bf
    spring.data.mongodb.database=lenneflow_worker
    spring.data.mongodb.authentication-database=admin
    spring.cloud.kubernetes.discovery.all-namespaces=true
    spring.output.ansi.enabled=ALWAYS
    rabbit.address=lenneflow.ganemtore.bf
    rabbit.port=5672